<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Loading Screen</title>
    <link rel="stylesheet" href="../views-styles/loading-styles.css">
</head>

<body>
    <div class="logo">
        <img class="cubelogo" src="../assets/house.svg" />
        <img class="textlogo" src="../assets/text.svg" />
    </div>
    <h4 id="update-text" class="statusText">Checking for Updates...</h4>
    <div class="progress">
        <div class="progressbar" data-percent="0"></div>
    </div>
</body>
<script src="../views-scripts/loading.js"></script>

</html>